body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

ol,
ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.square.winner {
	background: rgba(0, 129, 108, 0.2);
}

.game {
	display: flex;
	flex-direction: row;
}

@media (max-width: 600px) {
	.game {
		flex-flow: row wrap;
	}

	.game > :not(:last-child) {
		margin-bottom: 1em;
	}
}

.game-info,
.game-moves {
	margin-left: 20px;
	width: 20ch;
}

ol > li:not(:last-of-type) > button {
	margin-bottom: 0.5rem;
}

ol button,
.button {
	background: white;
	color: black;
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	text-decoration: none;
	border: 1px solid black;
}

ol button.is-active,
.button.is-active {
	background: rebeccapurple;
	color: white;
	border-color: transparent;
}

.status-label {
	font-size: 1.1rem;
	margin-bottom: 0.75rem;
}

.restart-button {
	background: firebrick;
	color: white;
	margin-bottom: 0.25rem;
}
